@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}
li:hover{
    color: rgb(228, 45, 45);
}


.padding-auto {
    max-width: 1380px;
    margin-inline: auto;
    overflow: hidden;
}

.container {
    /* background-color: red; */
    width: 100%;
    /* height: 199vh; */
    /* margin: 0 20px; */
    color: black;
}

nav {
    background-color: #B4BDFF;
    box-shadow: 0 0 6px #83A2FF;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
}
.nav-item.active{
    color: red;
}

.main-nav {
    width: 100%;
    margin-inline: 20px;
    background-color: #B4BDFF;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav_logo img {
    object-fit: cover;
    height: 180px;
}

.main-nav_links {
    color: black;

}

.main-nav_links ul {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    list-style: none;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.main-nav_search {
    display: flex;
    margin-right: 70px;
    gap: 8px;
    height: 32px;
    align-items: center;
}

.main-nav_search input {
    font-family: 'Poppins', sans-serif;
    border-radius: 4 px;
    width: 200px;
    height: 100%;

}

.main-nav_search button {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: white;
    background-color: rgb(69, 12, 240);
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}

/* -------------- Main Css Starts Here */

main {
    
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: start;
}

.card {
    width: 400px;
    
    min-height: 400px;
    box-shadow: 0 0 4px #82c7ff;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2px;
    transition: all 0.3sec ease;
    margin-inline: 30px;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 1px 1px 8px #41a7fb;
    background-color: #f9fdff;
    transform: translate(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.img-src {
    margin-block: 12px;
}

/* Footer CSS starts from here */
footer {
   /* background-color: red; */
    width: 100%;
    background-color: #B4BDFF;
    box-shadow: 0 0 6px #83A2FF;
    

}

.footer-container {

    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 30px;
}

.copyright {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container h3 {
    font-weight: 800;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;

}

.footer-container ul li {
    padding: 6px 0;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.icon{
    margin:  0 10px;
}